<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogify</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <main class="wrapper">
      <div><%- include("header")%></div>

      <div class="intro">
        <h1>Explore.Write</h1>
        <p>Your space to share thoughts, stories, and ideas.</p>
      </div>
    </main>
  </body>
</html>
