<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogify</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/login-signup.css" />
  </head>
  <body>
    <header><%- include("header")%></header>
    <main class="wrapper">
      <form action="/login" method="POST">
        <label>Username</label>
        <input type="text" name="username" autofocus required />
        <label>Password</label>
        <input type="password" name="password" required />
        <button>Login</button>
      </form>
    </main>
  </body>
</html>
