.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.intro h1 {
  color: #1e293b;
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

.intro p {
  color: #334155;
  font-size: 2.4rem;
}
